a.table-link {
    color: inherit; /* Use a cor do texto do pai */
    text-decoration: none; /* Remove a sublinhado */
  }
  
  a.table-link:hover {
    text-decoration: underline; /* Adiciona sublinhado no hover, se desejar */
  }